<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.br.arcmovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data android:name="io.fabric.ApiKey"
            android:value="2a686e85ee0dae9caf7202b1ec4b0ef8f2616b5d" />
    </application>

</manifest>
